*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

h1 {
  display: block;
}

p {
  display: block;
}

img {
  max-width: 100%;
}


.film-poster {
  margin: 0;
  position: relative;
  display: inline-block;
  max-width: 30%;

}

.action-watch-later {
  display: inline-block;
  position: absolute;
  left: 80%;
  top: 5%;
}

.film {
  max-width: 70%;
  margin: 40px auto;
  overflow: auto;
  position: relative;
}

article {
  border: 1px solid black;
    /*position: relative;*/
}

.film-details {
  position: absolute;
  display: inline-block;
  max-width: 60%;
  margin-left: 25px;
  /*top: 5%;*/
}


.fa {
  color: red;
}

.action-like {
  display: inline-block;
  text-align: right;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
